@page "/"
@inherits IndexBase
@inject NavigationManager nv


<AuthorizeView>
    <Authorized>

        <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="css/style.css">
        </head>
        <h2>Home</h2>
        <hr />
        
            <div class="container">
                <div class="row">
                    <table class="col-xs-7 table-bordered table-striped table-condensed table-fixed">
                        <thead>
                            <tr>
                                <th class="col">Id</th>
                                <th class="col">Titolo</th>
                                <th class="col">Album</th>
                                <th class="col">Durata</th>
                            </tr>
                        </thead>


                        <tbody>

                            @if (EleCanzoni != null)
                            {
                           
                                @foreach (var c in EleCanzoni)
                                {

                                    <tr>
                                        <td class="col">@c.SongID</td>
                                        <td class="col" @onclick="() => { ClickHandle(c.SongTitle); nv.NavigateTo(a, true); }">@c.SongTitle</td>
                                        <td class="col">@c.AlbumName</td>
                                       <td class="col">@c.Duration</td>
                                    </tr>

                                 }              
                             }
                        </tbody>



                        </table>
                </div>
            </div>


        <Player CurrentPlayingSong="@CurrentPlayingSong"></Player>
        <br />
        <h2 class="TitleLable">Current: @CurrentPlayingSong</h2>
        <br />
        <h2>Playlist</h2>


        <div class="container">
            <div class="row">
                <table class="col-xs-7 table-bordered table-striped table-condensed table-fixed">
                    <thead>
                        <tr>
                            <th class="col">Id</th>
                            <th class="col">Titolo</th>
                            <th class="col">Album</th>
                            <th class="col">Durata</th>
                        </tr>
                    </thead>


                    <tbody>

                                <tr>
                                    <td class="col"></td>
                                    <td class="col"></td>
                                    <td class="col"></td>
                                    <td class="col"></td>
                                </tr>

                    </tbody>



                </table>
            </div>
        </div>

    </Authorized>
    <NotAuthorized>
        <h2>Loggati</h2>
    </NotAuthorized>
</AuthorizeView>


